.UserPad {
    display: flex;
    width: 160px;
}
.profilePic {
    border-radius:50%;
    height: 40px;
    width: 40px;
    margin: auto;
}
.description {
    margin: auto;
}
.status {
    color: rgb(139, 139, 139);
}