.ElementList {
    transition: 0.3s;
    display: none;
    width: 70px;
    background: #191c21;
}
.ElementListText {
    text-decoration: none;
    display:inline-block;
    color: #abb4be;
    position: relative;
    bottom: 6px;
    left: 35px;
}
.ElementListText:hover {
    transition: 0.1s;
    color: rgb(0, 132, 209);
}
.hovered .Element.extended .ElementList {
    transition: 0.3s;
    display: block;
    width: 300px;
}
.expand .Element.extended .ElementList {
    transition: 0.3s;
    display: block;
    width: 300px;
}