.test {
    width: 717px;
}
.Charts {
    transition: 0s !important;
    display: grid;
    padding: 50px;
    grid-template-rows: 200px 200px;
    grid-template-columns: 47% 47%;
    grid-gap: 10px 5%;
}