.Navbar_body {
  

  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #21262d;
  transition: 0.3s;
  width: 70px;


  bottom: 0;
  left: 0;
  right: 0;
  top: 118px;

}
  /* //// hovered//// */
.Navbar_body.hovered {
  display: inline-block;
    transition: 0.3s;
    width: 300px;
}
.expand .Navbar_body {
    transition: 0.3s;
    width: 300px;
 }