.chart{
    height: 100%;
    width: 100%;
    background-color: white;
    max-height: 200px;
}
.LineGraph{
    width: 63%;
     height: 100%;
    display: inline-block;
}

.LiquidGraph{
    width: 35%;
    display: inline-block;
    vertical-align: top;
    margin-top: 35px;
}