

html{  
  background-color: rgb(42, 46, 56);
}
.app-wrapper {
  display: grid;
  grid-template-areas: 
  "header header"
  "navbar content";
  grid-template-rows: 68px 1fr;
  grid-template-columns: 1fr 30fr;
  transition: 0.3s;
}
.header {
  grid-area: header;
}
.content {
  grid-area: content;
}

.navbar {
  
  transition: 0.3s;
  position: relative;
  grid-area: navbar;
  width: 70px;
}

.navbar.hovered {
  transition: 0.3s;
  width: 300px;
}

.navbar.expand {
  transition: 0.3s;
  width: 300px;
}