

html{  
  background-color: rgb(42, 46, 56);
}
.app-wrapper {
  display: grid;
  grid-template-areas: 
  "header header"
  "navbar content";
  grid-template-rows: 68px 1fr;
  grid-template-columns: 1fr 30fr;
  transition: 0.3s;
  background-color: #ecedf0;
}
.header {
  width: 100%;
  z-index: 999;
  position: fixed;
  grid-area: header;
}
.content {
  grid-area: content;
  max-width: 100%;
}

.navbar {
  bottom: 0;
  top: 0;
  
  transition: 1.4s;
  position: relative;
  grid-area: navbar;
  width: 70px;
}

.navbar.hovered {
  transition: 0.3s;
  width: 300px;
}

.navbar.expand {
  transition: 1.4s;
  width: 300px;
}